<!-- <h3 class="d-flex justify-content-center">
  Welcome to {{title}}
</h3>
<div class="container mb-6">
 <table class="table table-dark table-hover">
     <thead> 
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Category</th>
       </tr>
     </thead>
     <tbody>
         <tr *ngFor="let bk of softBooks"> 
            <td>{{bk.id}}</td>
            <td>{{bk.name}}</td>
            <td>{{bk.category}}</td>
         </tr>
     </tbody>
 </table>
</div> -->
<!-- <h3 class="d-flex justify-content-center">
   User Json Api
</h3>
<app-user></app-user> -->
<!-- <app-welcome></app-welcome> -->
<!-- <app-login></app-login> -->
<app-menu></app-menu>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
